
body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #dfbd5e;
  }
  
  .text-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .text-container h1{
    margin: 0;
    font-size: 150px;
    color: rgba(225,225,225, .01);
    background-image: url("oboi_17712_designed_for_living_bn_international.webp");
    background-repeat: repeat;
    -webkit-background-clip:text;
    animation: animate 25s ease-in-out infinite;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
  }
  .br{
    height: 500px;
    background-color: #EACBD1;
    color: #536FAE;
  }
  .br_2{
    height: 500px;
    background-color: #E3857A;
    color: #F1DBA7;
  }
  .br_3{
    height: 500px;
    background-color :#536FAE;
    color: #EACBD1;
  }
    @keyframes animate {
      0%, 100% {
        background-position: left top;
      }
      25%{
        background-position: right bottom;
       }
      50% {
        background-position: left bottom;
      }
      75% {
        background-position: right top;
      }   
    }