<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends 'general_web/base.html' %}

    {% block content %}
    <p>Topics</p>
    <ul>
    {% for topic in topics %}
    <li>
        <a href="{% url 'general_web:topic' topic.id %}">{{ topic }}</a>
        </li>
    {% empty %}
        <li>No topics have been added yet.</li>
    {% endfor %}
    </ul>
    {% endblock content %}
</body>
</html>